<h4> <%= @pokemon.name.capitalize %> </h4>
<img src="<%= @pokemon.pic %>" alt="">
<p><%= @pokemon.element.capitalize %> type</p>
<ul class="row">
  <% @pokemon.moves.each do |move| %>
    <li > <p> <%=move.name.capitalize %> <%=move.element.capitalize %>  Attack Power: <%=move.attack_power %></p>  </li>

  <%end%>
</ul>
<a href="/pokemon/<%= @pokemon.id %>/battle"> Start a battle</a>
